<nav class="navbar navbar-expand-lg navbar-light bg-light col-12">
  <a class="navbar-brand" routerLink="">Korona Güncel</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink=""
          >Tüm Ülkeler <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/country/CN">Çin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/country/US">ABD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/country/TR">Türkiye</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/country/IT">İtalya</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/country/UK">İngiltere</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/country/ES">İspanya</a>
      </li>
    </ul>
  </div>
</nav>
